@using WebFood.Models.Entities
@model Profile
@{
    ViewData["Title"] = "Профиль";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="container-xl mt-3">
    <div class="d-flex justify-content-center">
        <div class="col-10 col-sm-6 col-md-6 col-lg-4">

            <div class="d-flex flex-column">
                <h3>Информация о пользователе</h3>
                <div><b>Имя:</b> @Model.Name</div>
                <div><b>Адрес доставки:</b> @Model.DeliveryAdres</div>
                <div><b>Телефон:</b> @Model.Phone</div>

                <a class="mt-3" asp-controller="Profile" asp-action="EditProfile">Изменить информацию о пользоваетеле</a>
                <a class="mt-3" asp-controller="Order" asp-action="ProfileOrders">Просмотреть заказы</a>
                <a class="mt-3" asp-controller="Home" asp-action="Index">На главную</a>
            </div>

        </div>
    </div>
</div>



