@using WebFood.Models.Entities
@model Order
@{
    ViewData["Title"] = "Данные заказа";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="container-xl mt-3">
    <div class="d-flex justify-content-center">
        <div class="col-10 col-sm-6 col-md-6 col-lg-4">

            <form asp-controller="Order" asp-action="AddressAndPayment" method="post" enctype="multipart/form-data">

                <div class="d-flex flex-column">
                    <label asp-for="Profile.Name">Имя*</label>
                    <input class="form-control" asp-for="Profile.Name" value="@Model.Profile.Name"
                           data-val-required="Введите имя" />
                    <span asp-validation-for="Profile.Name" class="text-danger mt-2"></span>

                    <label asp-for="Profile.DeliveryAdres" class="mt-3">Адрес доставки*</label>
                    <input class="form-control" asp-for="Profile.DeliveryAdres"
                            data-val-required="Введите адресс доставки" value="@Model.Profile.DeliveryAdres"/>
                    <span asp-validation-for="Profile.DeliveryAdres" class="text-danger mt-2"></span>

                    <label asp-for="Profile.Phone" class="mt-3">Телефон*</label>
                    <input class="form-control" asp-for="Profile.Phone"
                           data-val-required="Введите номер телефона" value="@Model.Profile.Phone"/>
                    <span asp-validation-for="Profile.Phone" class="text-danger mt-2"></span>

                    <input type="hidden" asp-for="RestaurantId"/>

                    <button class="mt-3 btn btn-primary">Подтвердить</button>
                    <a class="mt-3" asp-controller="ShoppingCart" asp-action="Cart">Назад</a>
                </div>

            </form>
        </div>
    </div>
</div>

@section Scripts
    {
    <partial name="_ValidationScriptsPartial" />
}
